
body
{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2e323a;
    color: rgb(215, 252, 255);

}

#cover
{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 120%;
}

header
{
    background-color: #1c1f24;
    padding-top: 5% ;
    padding-bottom: 5%;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif

}


dt
{
    font-size: 1.5em;
    padding-bottom: 1%;
    padding-top: 1%;
}


footer
{   margin-left: 5%;
    margin-right: 5%;
    font-size:0.8em;
    text-align: center;
    
}

footer a
{
    color: white;

}

footer a:hover
{
    color:rgb(0, 174, 255); 
}





